<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="component">
		<field
			name="http_status"
			type="radio"
			class="btn-group"
			default="1"
			label="COM_LOGS_CONFIG_HTTP_STATUS_LABEL"
			description="COM_LOGS_CONFIG_HTTP_STATUS_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>
		<field
			name="http_status_text"
			type="radio"
			class="btn-group"
			default="1"
			label="COM_LOGS_CONFIG_HTTP_STATUS_TEXT_LABEL"
			description="COM_LOGS_CONFIG_HTTP_STATUS_TEXT_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>
		<field
			name="content"
			type="radio"
			class="btn-group"
			default="1"
			label="COM_LOGS_CONFIG_CONTENT_LABEL"
			description="COM_LOGS_CONFIG_CONTENT_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>
		<field
			name="entity_type"
			type="radio"
			class="btn-group"
			default="1"
			label="COM_LOGS_CONFIG_ENTITY_TYPE_LABEL"
			description="COM_LOGS_CONFIG_ENTITY_TYPE_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>
		<field
			name="entity_id"
			type="radio"
			class="btn-group"
			default="1"
			label="COM_LOGS_CONFIG_ENTITY_ID_LABEL"
			description="COM_LOGS_CONFIG_ENTITY_ID_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>
		<field
			name="event"
			type="radio"
			class="btn-group"
			default="1"
			label="COM_LOGS_CONFIG_EVENT_LABEL"
			description="COM_LOGS_CONFIG_EVENT_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>
		<field
			name="event_status"
			type="radio"
			class="btn-group"
			default="1"
			label="COM_LOGS_CONFIG_EVENT_STATUS_LABEL"
			description="COM_LOGS_CONFIG_EVENT_STATUS_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>
	</fieldset>
</config>
